@use "./partials/global"as *;
@use "./partials/variables"as*;



.banner {
    @include section($primary-pink, row, 4rem 1.25rem);
    justify-content: space-around;
    gap: 2rem;

    .banner__img {
        padding: 5rem 0;
        display: inline-block;
        vertical-align: middle;
    }

    .banner__intro {
        width: 28vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 2rem;

        .banner__headline {
            @include large-text;
        }

        .banner__description {
            font-size: $small-text;
        }
    }
}


.product {
    @include section($neutral-lightgray, row, 4rem 1.25rem);
    gap: 2rem;

    .product__headline {
        @include large-text;
    }

    .product__container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        gap: 1.5rem;
        margin-bottom: 1rem;

        .product__card {
            background-color: $neutral-white;
            min-width: 20.625rem;
            max-width: 21.875rem;
            min-height: 27.5rem;
            max-height: 28.75rem;
            border-radius: 0.625rem;
            box-shadow: 0 0.313rem 0.563rem -0.063rem rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-between;
            align-items: center;

            .product__img {
                margin-top: 2rem;
            }

            .product__text {
                height: 9rem;
                width: 100vw;
                background-color: $primary-pink;
                border-radius: 0 0 0.625rem 0.625rem;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: space-between;
                justify-content: center;
                box-sizing: border-box;

                .product__name {
                    margin: 1rem 1rem 0 1rem;
                    font-size: 2.063rem;
                    font-weight: inherit;
                }

                .product__size {
                    color: $neutral-gray;
                    font-size: 18px;
                    margin: 0 1rem 1rem 1rem;
                }

                .product__price {
                    font-size: 2.063rem;
                    font-weight: inherit;
                    color: $primary-blue;
                    align-self: flex-end;
                    margin: 1.2rem;
                }
            }
        }
    }
}


.discount__info {
    @include section($neutral-white, row, 4rem 1.25rem);
    gap: 3rem;

    .discount__context {
        display: flex;
        flex-direction: column;
        width: 40rem;
        gap: 1.45rem;


        .discount__slogan {
            @include large-text;
        }

        .discount__description {
            font-size: $small-text;
        }

        .discount__logos {
            display: flex;
            height: 3.3rem;
            width: 100%;
            justify-content: space-between;
        }
    }

    .discount__img-wrap {
        background: center / cover no-repeat url("../assets/images/coldbrewbackground.png");
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 400px;
        height: 400px;

        .discount__img {
            z-index: 2;
        }

        .discount__img:hover {
            animation: spin 2s infinite linear;
        }

        .discount__img--border {
            width: 400px;
            height: 400px;
            border: solid $primary-blue 5px;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
}


.discount__banner-wrap {
    @include section($neutral-white, row, 4rem 1.25rem);

    .discount__banner {
        background-color: $neutral-graphite;
        font-size: 2.813rem;
        padding: 2.5rem 5.8rem;
        animation: flash 2.5s infinite;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .discount__text {
            color: $neutral-white;

            .discount__coupon {
                font-weight: 700;
                color: inherit;
            }
        }
    }
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes flash {
    0% {
        background-color: $neutral-graphite;
    }

    50% {
        background-color: $primary-blue;
    }

    100% {
        background-color: $neutral-graphite;
    }
}