@use './partials/global'as *;




.banner {
    @include section($primary-pink, row, 4rem 1.25rem);

    .banner__img {
        padding: 5rem 0;
        display: inline-block;
        vertical-align: middle;
    }

    .banner__intro {
        width: 25vw;
        height: 25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        .banner__headline {
            font-size: 3.75rem;
            font-weight: 300;
        }

        .banner__description {
            font-size: 1.125rem;
            font-style: normal;
        }
    }
}


.product {
    @include section($neutral-lightgrey, row, 4rem 1.25rem);
    gap: 2rem;

    .product__headline {
        font-size: 3.75rem;
        font-weight: 300;
    }

    .product__container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        gap: 1.5rem;
        margin-bottom: 1rem;

        .product__card {
            background-color: $neutral-white;
            min-width: 20.625rem;
            max-width: 21.875rem;
            min-height: 27.5rem;
            max-height: 28.75rem;
            border-radius: 0.625rem;
            box-shadow: 0 0.313rem 0.563rem -0.063rem rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-between;
            align-items: center;

            .product__img {
                margin-top: 2rem;
            }

            .product__text {
                height: 9rem;
                width: 100vw;
                background-color: #FFF0ED;
                border-radius: 0 0 0.625rem 0.625rem;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: space-between;
                justify-content: center;
                box-sizing: border-box;

                .product__name {
                    margin: 1rem 1rem 0 1rem;
                    font-size: 2.063rem;
                    font-weight: inherit;
                }

                .product__size {
                    color: #909090;
                    font-size: 18px;
                    margin: 0 1rem 1rem 1rem;
                }

                .product__price {
                    font-size: 2.063rem;
                    font-weight: inherit;
                    color: $primary-blue;
                    align-self: flex-end;
                    margin: 1.2rem;
                }
            }
        }
    }
}

.discount__info {
    @include section($neutral-white, row, 4rem 1.25rem);
    gap: 3rem;

    .discount__context {
        display: flex;
        flex-direction: column;
        width: 40rem;
        gap: 1.45rem;


        .discount__slogan {
            font-size: 3.75rem;
            font-weight: 300;
        }

        .discount__description {
            font-size: 1.125rem;
            font-style: normal;
        }

        .discount__logos {
            display: flex;
            height: 3.3rem;
            width: 100%;
            justify-content: space-between;
        }
    }

    .discount__img-wrap {
        background: center / cover no-repeat url("../assets/images/coldbrewbackground.png");
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 400px;
        height: 400px;

        .discount__img {
            z-index: 2;
        }

        .discount__img:hover {
            animation: spin 2s infinite linear;
        }

        .discount__img--border {
            width: 400px;
            height: 400px;
            border: solid $primary-blue 5px;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
}


.discount__banner-wrap {

    @include section($neutral-white, row, 4rem 1.25rem);


    .discount__banner {
        background-color: $neutral-graphite;
        width: 68%;
        font-size: 2.813rem;
        padding: 2.5rem 1.25rem;
        text-align: center;
        animation: flash 2.5s infinite;

    }

    .discount__text {
        color: $neutral-white;

        .discount__coupon {
            font-weight: 700;
            color: inherit;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes flash {
    0% {
        background-color: $neutral-graphite;
    }

    50% {
        background-color: $primary-blue;
    }

    100% {
        background-color: $neutral-graphite;
    }
}