@use "./partials/global"as *;
@use "./partials/variables"as*;



.banner {
    @include section(center / cover no-repeat url("../assets/images/coffee-circle.jpg"), column, 1.2rem);
    min-height: 35.938rem;
    max-height: 37.5rem;

    .banner__title-box {
        min-width: 17.5rem;
        max-width: 18.75rem;
        min-height: 11.25rem;
        max-height: 12.5rem;
        position: absolute;

        .banner__title {
            @include section($neutral-graphite, row, 0);
            @include large-text;
            @extend .banner__title-box;
            color: $neutral-white;
        }

        .banner__title-box--border {
            @extend .banner__title-box;
            border: solid $primary-blue 5px;
            bottom: 5px;
            right: 5px
        }
    }

}


.sub-nav {
    @include section($neutral-graphite, row, 0.3rem);
    width: 100%;
    min-height: 3.75rem;
    max-height: 5rem;
    text-transform: uppercase;
    box-sizing: content-box;

    &__item {
        font-size: $mid-text;
        border-left: solid $primary-blue 4px;
        display: inline-block;
        text-align: center;
        padding: 0 2rem;

        & a {
            color: $neutral-white;
        }
    }
}


.menu {
    @include section($primary-pink, column, 1.3rem 0);


    .menu__category {
        padding: 1.7rem 0;
        margin: auto;
        text-align: center;
        font-size: $small-text;
        width: 100%;

        &:nth-child(2) {
            background-color: $neutral-lightgray;
        }

        .menu__name {
            @include large-text;
        }

        .menu__item {
            font-size: 2.063rem;
            font-weight: $lighter-font;
            text-align: center;
        }

        .menu__description {
            font-style: italic;
            color: $neutral-graphite;
            margin: 0.8rem 0;
            max-width: 33rem;
            display: inline-block;
            text-align: center;
        }

        .menu__price {
            color: $primary-blue;
        }
    }


    // .menu__cold-drinks {}





}